In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from matplotlib.pyplot import figure

In [2]:
ssb = pd.read_csv('ssb.csv')

In [97]:
drugname= input('\n Drug Name: \n\n') #asks a user what drug they are using
drug_curr_pay = input('\n Monthly Cost: \n\n')
drugnamecap= drugname.upper() #capitlizes the drugname 
drug_curr_pay_int = int(drug_curr_pay)
print('\n Drug Name: ' + drugnamecap) #prints the drugname in CAPS

#drug_table = ssb[ssb.NDC_PROD_NAME.str.contains(drugnamecap)]
#drug_table['MONTH_AMT_PAID']=drug_table['AMT_PAID']/drug_table['RX_DAYS_SUPPLY']*30
#drug_table=drug_table[drug_table['FROM_YEAR']==2018]

 Drug Name:

Humira Pen

 Monthly Cost:

4950

 Drug Name: HUMIRA PEN

In [98]:
q25 = drug_table.MONTH_AMT_PAID.quantile(.25)
drug_table['MONTH_AMT_PAID'].describe()
drug_diff = drug_curr_pay_int-q25


if drug_diff>0:
    print('You are overpaying by: ' + '$'+ str(round(drug_diff,2))+' per month.')
else:
    print('You have the cheapest option.')

You are overpaying by: $34.86 per month.

In [99]:
drugprovmedian = drug_table.groupby('SERV_PROV_CW_KEY')['AMT_PAID'].median().reset_index() #median by provider
drugprovmedian.head(5)

   SERV_PROV_CW_KEY  AMT_PAID
0             13627   5028.57
1             15688  10107.60
2             22513   4926.49
3             23569   6797.04
4             58800    663.07

In [100]:
drug_prov=drug_table[drug_table.MONTH_AMT_PAID<drug_curr_pay_int]
#print(drug_prov)
#print(drug_prov.SERV_PROV_CW_KEY.value_counts())
unique_prov= drug_prov.SERV_PROV_CW_KEY.value_counts().reset_index()
unique_prov = unique_prov[unique_prov.SERV_PROV_CW_KEY>75]
prov_num = []
for i in range(len(unique_prov.SERV_PROV_CW_KEY)):
    prov_num.append(i)
#print(prov_num)
unique_prov['Pharmacy']=0
for a in prov_num:
    unique_prov['Pharmacy'][a]= 'Pharmacy ' + str(prov_num[a])

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':

In [87]:
unique_prov.head(15)

     index  SERV_PROV_CW_KEY    Pharmacy
0   198778              2163  Pharmacy 0
1   597307              1716  Pharmacy 1
2   580543               439  Pharmacy 2
3   594154               392  Pharmacy 3
4   198794               373  Pharmacy 4
5  2759904               309  Pharmacy 5
6  2581361               235  Pharmacy 6
7   198787               229  Pharmacy 7
8   590720               150  Pharmacy 8
9   734385               102  Pharmacy 9

In [101]:
provider = unique_prov.merge(drugprovmedian, left_on='index', right_on='SERV_PROV_CW_KEY')

In [94]:
provider

     index  SERV_PROV_CW_KEY_x    Pharmacy  SERV_PROV_CW_KEY_y  AMT_PAID
0   198778                2163  Pharmacy 0              198778   4659.61
1   597307                1716  Pharmacy 1              597307   4883.23
2   580543                 439  Pharmacy 2              580543   4767.16
3   594154                 392  Pharmacy 3              594154   4827.75
4   198794                 373  Pharmacy 4              198794   4629.61
5  2759904                 309  Pharmacy 5             2759904   4338.31
6  2581361                 235  Pharmacy 6             2581361   5086.40
7   198787                 229  Pharmacy 7              198787   4729.85
8   590720                 150  Pharmacy 8              590720   4934.34
9   734385                 102  Pharmacy 9              734385   4926.49

In [102]:
print('List of Cheaper Pharmacies: \n')
provider = provider[provider['AMT_PAID']<drug_curr_pay_int]
print(provider[['Pharmacy', 'AMT_PAID']])

List of Cheaper Pharmacies:

     Pharmacy  AMT_PAID
0  Pharmacy 0   4659.61
1  Pharmacy 1   4883.23
2  Pharmacy 2   4338.31
3  Pharmacy 3   4767.16
4  Pharmacy 4   4629.61
5  Pharmacy 5   4827.75
6  Pharmacy 6   4729.85

In [103]:
drugprovmedian = drug_table.groupby('SERV_PROV_CW_KEY')['AMT_PAID'].median().reset_index() #median by provider

    SERV_PROV_CW_KEY  AMT_PAID
0               3793   6916.13
1               7118   4130.18
2              10643   1265.58
3              11418   2582.74
4              13627   4011.37
5              15688  13815.77
6              21898   7538.12
7              22513   4926.49
8              23569   3110.25
9              33823   2870.14
10             41313   2444.68
11             41412   2110.10
12             45864   2464.62
13             48206    204.48
14             58800    663.07

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':

List of Cheaper Pharmacies:

0      Pharmacy 0
1      Pharmacy 1
2      Pharmacy 2
3      Pharmacy 3
4      Pharmacy 4
5      Pharmacy 5
6      Pharmacy 6
7      Pharmacy 7
8      Pharmacy 8
9      Pharmacy 9
10    Pharmacy 10
11    Pharmacy 11
12    Pharmacy 12
13    Pharmacy 13
14    Pharmacy 14
15    Pharmacy 15
16    Pharmacy 16
17    Pharmacy 17
18    Pharmacy 18
19    Pharmacy 19
20    Pharmacy 20
21    Pharmacy 21
22    Pharmacy 22
23    Pharmacy 23
24    Pharmacy 24
25    Pharmacy 25
26    Pharmacy 26
Name: Pharmacy, dtype: object

In [ ]:
       index  SERV_PROV_CW_KEY      Pharmacy
0     594154             14188    Pharmacy 0
1     198778             13560    Pharmacy 1
2     929662              4338    Pharmacy 2
3    2602675              2187    Pharmacy 3
4     597307              2059    Pharmacy 4
5     580543              2059    Pharmacy 5
6     580455              2048    Pharmacy 6
7     595230              1968    Pharmacy 7
8     198794              1905    Pharmacy 8
9     929674              1580    Pharmacy 9
10    588776              1229   Pharmacy 10
11    590720              1134   Pharmacy 11
12    198787               990   Pharmacy 12
13   2759904               859   Pharmacy 13
14   2581361               828   Pharmacy 14
15    734385               672   Pharmacy 15
16     11418               567   Pharmacy 16
17   1483059               513   Pharmacy 17
18    198801               312   Pharmacy 18
19    581858               310   Pharmacy 19
20   1975157               308   Pharmacy 20
21     84204               289   Pharmacy 21